* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: gray;
    background-color: #181818;
    font-family: sans-serif;
}

header {
    text-align: center;
}

header h1 {
    color: #A480F2;
    
}

header p {
    color: #595B5C;
    font-size: 17px;
    margin-top: 14px;
}

.main-container {
    min-width: 800px;
}

.search-container {
    display: flex;
    margin-bottom: 25px;
    margin-top: 22px;
    column-gap: 10px;
}

.search-container input {
    background-color: #252524;
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px;
    border-style: none;
}

.search-container button {
    border-radius: 8px;
    border-style: none;
    color: black;
    background-color: #A480F2;
    font-weight: 600;
    padding: 0 20px;

}

.search-container input::placeholder {
    color: aliceblue;
}

.profile-container {
    display: flex;
    flex-direction: column;
    background-color: #252524;
    padding: 25px;
    border-radius: 8px;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  position: relative;
  margin-top: 20px;
  column-gap: 15px;
  line-height: 25px;
}

.profile-stats::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
}

.stat {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    background-color: #333233;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
}

.stat i {
    margin-right: 0.5rem;
    color: #A480F2;
}

.profile-detailed {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 1rem;
}

#name {
    color: white;
}

#additional-name {
    color: #A480F2;
}

#description{
    color: white;    
}

.location-joined {
    display: flex;
    gap: 1rem;
    font-size: 15px;
    color: rgb(156, 163, 175);
}

.location-joined i {
    margin-right: 5px;
}

#view-profile {
    background-color: #A480F2;
    color: black;
    border-style: none;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: 700;
    width: 100px;
}

.profile-info {
    display: flex;
    column-gap: 25px;
}

.occupation-social {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    column-gap: 150px;
    font-size: 14px;
    color: rgb(156, 163, 175);
}

.social i {
    color: #A480F2;
    margin-right: 0.5rem;
}

.repo-container {
    padding-bottom: 16px;
    margin-top: 20px;
}

h3 {
    position: relative;
    padding-bottom: 14px;
    color: white;
}

h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}

.repo-grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.grid-item {
    background-color: #333233;
    border-radius: 6px;
    min-height: 100px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-details {
    display: flex;
    font-size: 12px;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}